In [73]:
import sklearn
import sklearn.preprocessing as preprocessing
import sklearn.impute as impute
import sklearn.compose as compose
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np

from pathlib import Path
import tarfile
import requests
from typing import Tuple
import matplotlib.pyplot as plt

sklearn.set_config(transform_output="pandas")
pd.set_option('display.width', 1000)

In [81]:
def load_housing_data():
  tar_path = Path("datasets/housing.tgz")

  if not tar_path.is_file():
    Path("datasets").mkdir(parents=True, exist_ok=True)
    url = "https://github.com/ageron/data/raw/main/housing.tgz"

    # download .tgz
    response = requests.get(url)
    assert response.status_code == 200, "failed to download the data file"
    with open(tar_path, "wb") as file:
      file.write(response.content)

    # extract .tgz
    with tarfile.open(tar_path) as file:
      file.extractall(Path("datasets"))

  # read as DataFrame
  return pd.read_csv(Path("datasets/housing/housing.csv"));

housing = load_housing_data()
print(housing)
print("*" * 150)
print(housing.info())
print("*" * 150)
print(housing.describe())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value ocean_proximity
0        -122.23     37.88                41.0        880.0           129.0       322.0       126.0         8.3252            452600.0        NEAR BAY
1        -122.22     37.86                21.0       7099.0          1106.0      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2        -122.24     37.85                52.0       1467.0           190.0       496.0       177.0         7.2574            352100.0        NEAR BAY
3        -122.25     37.85                52.0       1274.0           235.0       558.0       219.0         5.6431            341300.0        NEAR BAY
4        -122.25     37.85                52.0       1627.0           280.0       565.0       259.0         3.8462            342200.0        NEAR BAY
...          ...       ...                 ...          ...             ...         ...         ...            ...                 ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0       845.0       330.0         1.5603             78100.0          INLAND
20636    -121.21     39.49                18.0        697.0           150.0       356.0       114.0         2.5568             77100.0          INLAND
20637    -121.22     39.43                17.0       2254.0           485.0      1007.0       433.0         1.7000             92300.0          INLAND
20638    -121.32     39.43                18.0       1860.0           409.0       741.0       349.0         1.8672             84700.0          INLAND
20639    -121.24     39.37                16.0       2785.0           616.0      1387.0       530.0         2.3886             89400.0          INLAND

[20640 rows x 10 columns]
******************************************************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None
******************************************************************************************************************************************************
          longitude      latitude  housing_median_age   total_rooms  total_bedrooms    population    households  median_income  median_house_value
count  20640.000000  20640.000000        20640.000000  20640.000000    20433.000000  20640.000000  20640.000000   20640.000000        20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081      537.870553   1425.476744    499.539680       3.870671       206855.816909
std        2.003532      2.135952           12.585558   2181.615252      421.385070   1132.462122    382.329753       1.899822       115395.615874
min     -124.350000     32.540000            1.000000      2.000000        1.000000      3.000000      1.000000       0.499900        14999.000000
25%     -121.800000     33.930000           18.000000   1447.750000      296.000000    787.000000    280.000000       2.563400       119600.000000
50%     -118.490000     34.260000           29.000000   2127.000000      435.000000   1166.000000    409.000000       3.534800       179700.000000
75%     -118.010000     37.710000           37.000000   3148.000000      647.000000   1725.000000    605.000000       4.743250       264725.000000
max     -114.310000     41.950000           52.000000  39320.000000     6445.000000  35682.000000   6082.000000      15.000100       500001.000000

In [102]:
# Preprocessing [DataFrame] : Category -> Get Dummy Columns
print(housing["ocean_proximity"].value_counts())
pd.get_dummies(housing, columns=['ocean_proximity'])

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  population  households  median_income  median_house_value  ocean_proximity_<1H OCEAN  ocean_proximity_INLAND  ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  ocean_proximity_NEAR OCEAN
0        -122.23     37.88                41.0        880.0           129.0       322.0       126.0         8.3252            452600.0                          0                       0                       0                         1                           0
1        -122.22     37.86                21.0       7099.0          1106.0      2401.0      1138.0         8.3014            358500.0                          0                       0                       0                         1                           0
2        -122.24     37.85                52.0       1467.0           190.0       496.0       177.0         7.2574            352100.0                          0                       0                       0                         1                           0
3        -122.25     37.85                52.0       1274.0           235.0       558.0       219.0         5.6431            341300.0                          0                       0                       0                         1                           0
4        -122.25     37.85                52.0       1627.0           280.0       565.0       259.0         3.8462            342200.0                          0                       0                       0                         1                           0
...          ...       ...                 ...          ...             ...         ...         ...            ...                 ...                        ...                     ...                     ...                       ...                         ...
20635    -121.09     39.48                25.0       1665.0           374.0       845.0       330.0         1.5603             78100.0                          0                       1                       0                         0                           0
20636    -121.21     39.49                18.0        697.0           150.0       356.0       114.0         2.5568             77100.0                          0                       1                       0                         0                           0
20637    -121.22     39.43                17.0       2254.0           485.0      1007.0       433.0         1.7000             92300.0                          0                       1                       0                         0                           0
20638    -121.32     39.43                18.0       1860.0           409.0       741.0       349.0         1.8672             84700.0                          0                       1                       0                         0                           0
20639    -121.24     39.37                16.0       2785.0           616.0      1387.0       530.0         2.3886             89400.0                          0                       1                       0                         0                           0

[20640 rows x 14 columns]

In [104]:
# Sklearn-Pipeline: Combine Encoder/Imputer in a pipeline
#   OrdinalEncoder: Categories -> 0, 1, 2, 3, ..etc
transformers = [
    ("encoder", preprocessing.OrdinalEncoder(), ["ocean_proximity"]),
    ("imputer", impute.SimpleImputer(strategy="mean"), ["total_bedrooms"])
]
column_transformer = compose.ColumnTransformer(transformers)

pipeline = Pipeline(steps=[
    ("transformers", column_transformer),
])
housing_tr = pipeline.fit_transform(housing)

print(housing_tr)
print("*" * 150)
print(housing_tr.info())
print("*" * 150)
print(housing_tr.describe())

       encoder__ocean_proximity  imputer__total_bedrooms
0                           3.0                    129.0
1                           3.0                   1106.0
2                           3.0                    190.0
3                           3.0                    235.0
4                           3.0                    280.0
...                         ...                      ...
20635                       1.0                    374.0
20636                       1.0                    150.0
20637                       1.0                    485.0
20638                       1.0                    409.0
20639                       1.0                    616.0

[20640 rows x 2 columns]
******************************************************************************************************************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encoder__ocean_proximity  20640 non-null  float64
 1   imputer__total_bedrooms   20640 non-null  float64
dtypes: float64(2)
memory usage: 322.6 KB
None
******************************************************************************************************************************************************
       encoder__ocean_proximity  imputer__total_bedrooms
count              20640.000000             20640.000000
mean                   1.165843               537.870553
std                    1.420662               419.266592
min                    0.000000                 1.000000
25%                    0.000000               297.000000
50%                    1.000000               438.000000
75%                    1.000000               643.250000
max                    4.000000              6445.000000